body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Anton', sans-serif;
  background-color: cornflowerblue;  
  font-size: 125%;
}

.card {
  background: rgb(12, 81, 221);
  padding: 1em;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  margin: 1em;
  font-size: 125%;
}

 /* This will center the search bar inside the card. */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}  



button {
margin: 0.7em;
border-radius: 50%;
border: none;
height: 50px;
width: 40px;
outline: none;
background: rgb(2, 2, 2)
color: white
cursor: pointer;
transition: 0.2s ease-in-out;
}

/* This adds custom changes to the search bar */
input.search-bar {
  border: none;
  outline: none;
  padding: 0.3em 2em;
  border-radius: 18px;
  background: rgba(203, 203, 208, 0.867);
  /* This is the test color inside the search box. */
  color: rgb(10, 1, 1);
  font-family: sans-serif;
  font-size: 125%;
  width: calc(300% - 100px);
}

/* shades the lense icon when cursor is hovering over. */
button:hover {
  background-color: rgb(136, 134, 132);
}

h1.temp {
  margin: 0;
}

/* 

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  } */
   
  /* form.example button:hover {
    background: #0b7dda;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  } 
   */
/* 
.weatherToday p {
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
 }
 
.weatherToday img {
    float: right;
} */
/* ------------------------comments below------------------------- */

/* 
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(251, 242, 133);
    background: radial-gradient(
      circle,
      rgba(251, 242, 133, 0.6334908963585435) 0%,
      rgba(224, 196, 91, 0.8407738095238095) 35%,
      rgba(230, 224, 113, 1) 100%
    );
}

.weatherToday {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
}

#location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
}

.circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
} */

/* background-image: url(https://images.unsplash.com/photo-1533579436102-fcc5a403c554?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) ;alt="landscape image" width="54" height="20" */